.signup-container {
    composes: form-container; /* 공통 스타일 사용 */
  }
  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 1em;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .input-group input {
    width: calc(100% - 1em);
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-with-button {
    display: flex;
  }
  
  .input-with-button input {
    flex: 1;
  }
  
  .check-button {
    margin-left: 0.5em;
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .check-button:hover {
    background-color: #333;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .button-group button {
    flex: 1;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-group button:hover {
    background-color: #333;
  }
  
  .error-message {
    color: red;
    margin-bottom: 1em;
    text-align: center;
  }
  